/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/



*					{ margin: 0; padding: 0; }
body				{ font: 14px Comfortaa, serif; }

h1                  { margin: 25px 0; font: 40px Comfortaa, Serif; text-transform: uppercase; letter-spacing: 3px; }

h2                  { margin: 25px 0; font: 20px Comfortaa, Serif; letter-spacing: 3px; line-height: 1.5}



p { margin: 25px 0;
    font: 15px Comfortaa, Serif;

    letter-spacing: 3px;
}

.container-test {
    background-color: #d1d1d1;
    color: #d1d1d1;
    border-radius: 10px;
    padding: 20px;
    font-family: Comfortaa, Serif;
    max-width: 700px
}

.btn-sm:hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,181,82,1) 0%, rgba(18,213,151,1) 100%);
    color: white;
    border-color:white;
}

.btn-sm {

    color: #12d597;
    border-color:#12d597;
}

ul li { margin: 25px 0;
    font: 15px Comfortaa, Serif;
    letter-spacing: 3px;
}

select.languages { border:40px solid transparent}

#page-wrap		    { width: 500px; margin: 0 auto; }



input.submit-test {
    display:inline-block;
    padding:1em 1em;
    margin:0.5em;
    border:0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Segoe UI',Comfortaa,sans-serif;
    font-weight:400;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
    position:relative;
}

input.submit-test:hover{
    border-color:#7a7a7a;
}
input.submit-test:active{
    background-color:#999999;
}

ol {
   margin: 0 0 10px 20px;
}

ol li {
   margin: 0 0 20px 0;
}

ol li div {
   padding: 4px 0;
}

h3 {
   font-size: 17px; margin: 0 0 1px 0; color: #666666;
}

img.img-responsive {
    height: auto;
    width: 200%;
    float: left;
    margin-right: 10px;
}
