{% extends 'AplikacjaBadaniaWadWzroku/../AplikacjaBadaniaWadWzroku/base.html' %}
{% load i18n %}
{% load static %}
{% load index %}

{% block title %}
    {% trans 'Информационная Страница' %}
{% endblock %}

{% block content %}

    <section class="jumbotron text-center" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,181,82,1) 0%, rgba(18,213,151,1) 100%);">
        <div class="container">
          <h1 style="color: white; font-weight: 900 !important;">{% trans 'Информация о заболеваниях' %}</h1>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          {% for key, value in diseases.items %}
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <img src="{% static value|index:1 %}" alt="">
                <div class="card-body">
                    <p class="card-text" style="text-align: center"> {{ key }} </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" href="{% url 'information-about-disease' value|index:0 %}">{% trans 'Выбрать' %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}

          </div>
        </div>
    </div>

{% endblock %}

