{% extends 'AplikacjaBadaniaWadWzroku/../AplikacjaBadaniaWadWzroku/base.html' %}
{% load static i18n %}
{% load index %}

{% block title %}
    {{ header_text }}
{% endblock %}

{% block content %}
    <section class="jumbotron text-center" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,181,82,1) 0%, rgba(18,213,151,1) 100%);">
        <div class="container">
          <h1 style="color: white; font-weight: 900 !important;">{{ header_text }}</h1>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div id="page-wrap">

                <form method="post" id="quiz">
                    {% csrf_token %}
                {% for test in test_database %}
                    <ul>

                        <div class="container-test mt-sm-5 my-1" style="box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.17)">
                        <li>
                            <div class="col-md-4" style="width: 600px">
                            {% if test.test == 'astigmatism' or test.test == 'Ishihara' or test.test == 'macular_degeneration' %}
                             <img src="{{ test.image.url }}" class="img-responsive" {% if test.test == 'macular_degeneration' %} style="width: {{ image_size_px }}px; height: {{ image_size_px }}px; float: left; margin-right: 10px; margin-bottom: 20%" {% else %} style="width: 300%; float: left; margin-right: 10px; margin-bottom: 20%" {% endif %} />
                            {% elif test.test == 'snellen' %}
                                <p class="snellen" style="font-size: {{ letter_size_px_list|index:forloop.counter0 }}px; font-family: Eyechart, sans-serif; color: black">{{  test.question }}</p>
                                <br>
                            {% elif test.test == 'dry eye' %}
                                <h3 style="color: black; width: 450px">{{  test.question }}</h3>
                                <br>
                            {% endif %}

                                <div>
                                    <label for="question-{{ test.question_number }}-answers-A" style="color: black; width: 500px" ><input type="radio" name="question-{{ test.question_number }}-answers"  id="question-{{ test.question_number }}-answers-A"  value="{{  test.option_one }}" /> {{  test.option_one }} </label>
                                </div>

                                <div>
                                    <label for="question-{{ test.question_number }}-answers-B" style="color: black; width: 500px"><input type="radio" name="question-{{ test.question_number }}-answers"  id="question-{{ test.question_number }}-answers-B" value="{{  test.option_two }}" /> {{  test.option_two }}</label>
                                </div>
                            {% if test.test != 'astigmatism' %}
                                <div>
                                    <label for="question-{{ test.question_number }}-answers-C" style="color: black; width: 500px"><input type="radio" name="question-{{ test.question_number }}-answers" id="question-{{ test.question_number }}-answers-C" value="{{  test.option_three }}" /> {{  test.option_three }}</label>
                                </div>

                                <div>
                                    <label for="question-{{ test.question_number }}-answers-D" style="color: black; width: 500px"><input type="radio" name="question-{{ test.question_number }}-answers" id="question-{{ test.question_number }}-answers-D" value="{{  test.option_four }}" /> {{  test.option_four }}</label>
                                </div>

                            {% endif %}
                            </div>
                        </li>
                        </div>

                    </ul>
                {% endfor %}
                    <input type="submit" class="submit-test" value="{% trans 'Закончить тест' %}" />
                </form>

        </div>
    </div>
{% endblock %}