{% extends 'AplikacjaBadaniaWadWzroku/../AplikacjaBadaniaWadWzroku/base.html' %}
{% load i18n %}
{% load static %}
{% load index %}

{% block title %}
    {% trans 'Страница тестов' %}
{% endblock %}

{% block content %}


    <section class="jumbotron text-center" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,181,82,1) 0%, rgba(18,213,151,1) 100%);">
        <div class="container">
          <h1 style="color: white; font-weight: 900 !important;">{% trans "Тесты" %}</h1>
        </div>
      </section>
    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          {% for key, value in tests.items %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                    <img src="{% static value|index:1 %}" alt="">
                <div class="card-body">
                    <p class="card-text" style="text-align: center"> {{ key }} </p>
                  {% if value|index:0 == 'astigmatism' %}<p class="card-text">1. {% trans 'Сядьте на расстоянии 50 см от компьютера.' %} <br> <br>2. {% trans 'Если Вы носите очки, снимите их.' %} <br><br> 3. {% trans 'Ответьте на вопросы теста.' %}</p><br>
                    {% elif value|index:0 == 'color_blindness' %}<p class="card-text">1. {% trans 'Сядьте на расстоянии 75 см от компьютера.' %} <br> <br>2. {% trans 'Если Вы носите очки, наденьте их.' %} <br><br> 3. {% trans 'Ответьте на вопросы теста.' %}</p><br>
                    {% elif value|index:0 == 'visual_acuity' %}<p class="card-text" style="font-size: 12px">1. {% trans 'Сядьте на расстоянии 1 метра от компьютера.' %} <br> <br>2. {% trans 'Если Вы носите очки, снимите их.' %} <br><br> 3. {% trans 'Сначала закройте правый глаз и ответьте на вопросы теста.' %} <br><br> 4. {% trans 'Закройте левый глаз и ответьте на вопросы теста.' %}</p><br>
                    {% elif value|index:0 == 'macular_degeneration' %}<p class="card-text">1. {% trans 'Сядьте на расстоянии 33 см от компьютера.' %} <br> <br>2. {% trans 'Если Вы носите очки, снимите их.' %} <br><br> 3. {% trans 'Ответьте на вопросы теста.' %}</p><br>
                    {% elif value|index:0 == 'dry_eye' %}<p class="card-text"> 1. {% trans 'Ответьте на вопросы теста.' %}</p><br>
                    {% endif %}

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" {% if value|index:0 != 'visual_acuity' %}href="/tests/{{ value|index:0 }}" {% else %}href="{% url 'visual-acuity-test'  eye current_result  %}"{% endif %}>{% trans 'Начать тест' %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
    </div>
{% endblock %}

